/*--------------------------------------------------------------
# Header styles
--------------------------------------------------------------*/
.site-header  {
  border-top: $border__styles;
  margin-top: 2.25rem;
}
.site-branding {
  display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.main-logo {
  padding: 1.5rem 0;
  width: 18.75rem;
}
.main-logo, .social {
  flex: 1 0 50%;
}
.social {
  color: $color__med-grey;
  display: flex;
    justify-content: flex-end;
  ul {
    li{
      display: inline-block;
      padding-left: 1.5rem;
    }
  }
}
.main-navigation {
  border-top: $border__styles;
  box-shadow: 0 2px 5px rgba(128, 128, 128, .25);
  font-weight: bold;
  margin: 0;
  padding: 0;
  ul {
    padding-left: 2rem;
  }
  li {
    border-right: $border__styles;
    padding: .75rem 1.5rem;
    &:first-child {
      border-left: $border__styles;
    }
  }
  a:link, a:visited {
    color: $color__med-grey;
  }
  a:hover, a:active {
    color: $color__dk-grey;
  }
}

.nav-search {
  display: flex;
    justify-content: flex-end;
  input {
    background: #fff;
    border: 0;
    width: 11rem;
  }
  .search-form button {
    background-color: #fff;
    box-shadow: none;
    border: 0;
    color: $color__lt-grey;
    font-size: 1rem;
    margin: 0;
    padding-right: 0;
  }
}

.current_page_item, .current-menu-item {
  box-shadow: inset 0 -3px 0 0 $color__red-text;
      a:link {
    color: $color__dk-grey;
  }
}
