// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin form-button {
	background-color: #400c0d;
	border: 0;
	box-shadow: none;
	color: #fff;
  font-size: 1rem;
	padding: .75rem 1.5rem;
  text-decoration: none;
  &:hover {
		background-color: #6b1416;
    color: #fff;
  }
  &:visited {
    color: #fff;
  }
}
