// Structure

$base__space-unit: 1.5em;
$base__site-width: 1024px;

// Colors

$color__background-body: #fff;
$color__background: #fafafa;
$color__text-main: #222222;

$color__lt-grey: #a1a1a1;
$color__med-grey: #808080;
$color__dk-grey: #333333;
$color__off-black: #222222;

$color__red-text: #db272a;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #db272a;
$color__link-visited: #db272a;
$color__link-hover: #400c0d;

// Typography

$font__main: 'Open Sans', sans-serif;
$font__weight: normal;
$font__size: 16pt;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__headlines: 'Overlock', sans-serif;

// Decorative

$border__styles: 1px solid #e1e1e1;
$border__dashed: 1px dashed #d2d2d2;
